{% extends 'base.html' %}
{% block content %}

<section class="">
    <div class="bg-lime" style="padding-top: 200px">

    </div>
    <div class="bg-dark text-white w-75 container p-4 shadow" style="margin-top:-100px;border-radius:25px;">
        <img src="{{profile.photo.url}}" width="220" height="220" style="border-radius:25px;"/>
        <div class="form-group mt-2 float-end" id="follow">
            {% include 'partials/follow.html' %}
        </div>
        <h3 class="">{{profile.name}}</h3>
        <h6 class="">@{{profile.user.username}}</h6>

        <h5 class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>{{profile.location}}</h5>
        
        <p class="border rounded p-2" style="text-align:justify;"><b>Bio:</b> {{profile.bio}}</p>
        {% if user.is_authenticated %}
            {% if request.user == profile.user %}
                <a href="{% url 'profile-update' profile.pk %}" class="btn btn-success">Change</a>
            {% endif %} 
        {% endif %}
       
    </div>
</section>
<section class="container">
    {% for post in posts %}
    <div class="card my-3 rounded-3 p-2 shadow bg-dark text-white w-75 m-auto">
        <div class="d-flex justify-content-between" >   
                <a href="{{post.author.profile.get_absolute_url}}" class="d-flex align-items-center ms-4 mb-3 text-decoration-none">
                    <img class="rounded-circle" src="{{post.author.profile.photo.url}}" width="50px" height="50px" />
                    <h4 class="ms-2 mt-2" >{{ post.author }}</h4>
                </a>

        </div>
        <a href="{{post.get_absolute_url }}" class="text-decoration-none text-white">
            <img class="" src="{{post.image.url}}" width="100%" height="500px" style=""/>
            <p><b>{{ post.author }}</b>: {{post.caption}}</p>
        </a>
        <div class="form-group mt-2 ms-4">
            {% if request.user not in post.likes.all %}
            <a href="{% url 'like-post' post.pk %}" class="btn btn-outline-primary">
                <i style="font-size:24px" class="fa">&#xf087;</i>
            </a>
            {% else %}
            <a href="{% url 'like-post' post.pk %}" class="btn btn-primary">
                <i style="font-size:24px" class="fa">&#xf087;</i>
            </a>
            {% endif %}

            <a href="{{post.get_absolute_url }}" class="btn btn-outline-info ms-4">
                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
                    <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                </svg>
            </a>
            {% if user.is_authenticated %}
                {% if request.user == post.author%}
                    <a class="btn btn-outline-success ms-4" href="{% url 'post-update' post.pk %}">Update</a>
                    <a class="btn btn-outline-danger ms-4" href="{% url 'post-delete' post.pk %}">Delete</a>
                {% endif %}

            {% endif %}
      </div>
    </div>    
    {% endfor %}
</section>
{% endblock content %}