{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create post | {% endblock title %}
{% block content %}
<section class="">
    <div class="bg-lime" style="padding-top: 200px">

    </div>
    <div class="bg-dark text-white w-75 container p-4 shadow" style="margin-top:-100px;border-radius:25px;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <div class="form-group">
                <button class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
</section>


{% endblock content %}